.outer-box{
    background-color: #eda751;
    height: 100vh;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    
    justify-content: center;
    align-items: center;
    font-family: Tahoma;
}

.inner-box{
    background-color: #ffffff;
    min-height: 90vh;
    border-radius: 6px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    max-width: 900px;
}

.hello-home{
    font-size: 25px;
}

.myName-home{
    font-size: 35px;
}

.role-home{
    color: #eda751;
    font-size: 25px;
}

.disc-home{
    color: #676767  ;
    margin-bottom: 20px;
    margin-top: 20px;
}

.discandImg{
    margin-top: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
}

.devImage-Home{
    height: 42vh;
}

@media screen and (max-width:600px) {
    .discandImg{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .devImage-Home{
        height: 35vh;
    }
    .imgcontainer{
        order: -1;
        text-align: center;
    }
}

.exploreme-btn-home{
    background-color: #eda751;
    border-radius: 10px;
    height: 35px;
    width: 90px;
    color: #ffffff;
    border-width: 0px;
    text-align: center;
}

.navBarContainer{
    display: flex;
    align-items: center;
}
.navRight{
    display: flex;
    gap: 1em;
    margin-left: auto;
    align-items: center;
}

.nameNavBar{
    color: #eda751;
}

.resumeNavBar{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.hireME{
    background-color: green;
    text-decoration: none;
    width: 90px;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    padding: 8px;
}

.exploreme-btn-home{
    background-color: #eda751;
    border-radius: 10px;
    height: 35px;
    width: 90px;
    
    border-width: 0px;
    
}